<header class="container mx-auto max-w-7xl px-4 py-4">
    <nav class=" border container flex justify-between max-w-7xl">
        <a href="">Início</a>
        <ul class="container flex justify-between max-w-xl border">
            <li><a href="/dashboard/categories/new">Ver categorias</a></li>
            <li><a href="/dashboard/category">Adicionar categoria</a></li>
            <li><a href="">Pagina</a></li>
            <li><a href="">Pagina</a></li> 
        </ul>
    </nav>
</header>