<header>
    <nav class="container">
        <a class="px-2" href="/new/article">Novo artigo</a>
        <a class="px-2" href="/dashboard/read/article">Editar artigos</a>
        <a class="px-2" href="/dashboard/category">Nova categoria</a>
        <a class="px-2" href="/dashboard/categories/new">Editar categorias</a>
        <a class="px-2" href="/">Público</a>
    </nav>
</header>