<!DOCTYPE html>
<html>
  <head>
    <title>Novo titulo este</title>
    <link rel='stylesheet' href='../stylesheets/output.css' />
  </head>
  <body>
    <h1 class="text-sm">Exemplo:</h1>
    <p>Feito!</p>
  </body>
</html>
