<!DOCTYPE html>
<html>
  <head>
    <title>Novo titulo este</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Exemplo:</h1>
    <p>Feito!</p>
  </body>
</html>
