<%-include('./partials/Head'); -%>
    <h1 class="text-sm">Exemplo:</h1>
    <p>Feito!</p>
<%-include('./partials/Footer'); -%>

INSERT INTO articles(title, slug, body, categoryId)VALUES("Título completo", "Titulo-completo", "O corpo do texto", 5);